.section-container {
    width: 500px;
    background-color: rgb(255, 250, 234);
    border-radius: 30px;
    padding: 20px 30px;
    box-shadow: 0px 4px 4px rgb(204, 200, 185);
    position: absolute;
    right: 5%;
    margin-top: 2%;
}