@import "../../App.scss";

.section-container {
  border: 1px palevioletred dashed;
  color: black;
  z-index: 100;
  // margin: 20px;
  padding: 20px;
}

.section-title {
  color: #01b5bc;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  padding: 0 20px;
}

.content {
  color: rgb(0, 94, 94);
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  background-color: #fcf2d8;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgb(204, 200, 185);
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  padding: 20px;
}
