@import "/src/variables.scss";

.section-container {
  z-index: 100;
  padding: 20px;
}

.section-title {
  color: $green2;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  padding: 0 30px;
  margin: 0;
}

.content {
  color: $green3;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  background-color: white;
  border-radius: 30px;
  border: 1px rgba(110, 145, 96, 0.87) solid;
  box-shadow: 0px 4px 4px rgba(110, 145, 96, 0.87);
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  padding: 20px 30px;
}
