@import "/src/variables.scss";

.sidebar {
  // background-color: rgba(255, 255, 255, 0.85);
  width: 145px;
  height: 100%;
  position: fixed;
}

ul {
  list-style-type: none;
  line-height: 50px;
  transform: translateY(100%);
  font-size: 17px;
  font-weight: 500;
}

li {
  a {
    text-decoration: none;
    color: $green2;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
  }
  a:visited {
    text-decoration: none;
  }
  a:link {
    text-decoration: nones;
  }
  a:hover{
    color: $green1;
  }
}
