@import './variables.scss';

html {
  //color variables
  background-image: url('./assets/josh-calabrese-unsplash.png');  
  background-size: cover;
  --cream: #ece4df;
  --green1: #9abda7;
  --green2: #3c725b;
  --green3: #214738;
  --green4: #031d12;
  --green5: #36633d;

  --testgreen:#4c917331; 
}

.portfolio {
  display: flex;  
  position: relative;
  margin: 0 auto;
  width: 900px;
}

.content-area {
  //background-color: rgba(255, 255, 255, 0.85);
  width: 650px;
  margin: 80px auto 80px 20% ;
  margin-left: 20%;
}

p {
  font-size: 17px;
}


//OVERRIDING CHRONO STYLES 
.timeline-controls {
  margin-bottom: 60px;
  background: rgba(229, 229, 229, 0.00)!important;
}

.timeline-main-wrapper {
  width: auto!important;
}

.timeline-card-content {
  min-height: none !important;
}

.timeline-item-title {
  overflow: visible !important;
}

.show-less {
  max-height: none !important;
}

.show-more {
  visibility: hidden !important;
  height: 0 !important;
}

.css-8v2xrm-MediaDetailsWrapper{
  padding: 0 !important;
}

.css-42mkpd-TimelineItemContentWrapper {
  min-height: none !important;
}

.using-icon {
  img {
    cursor: default;
  }
}