@import './variables.scss';

html {
  background: url(./assets/Vorderrhein.png);
  background-size: cover;

  //color variables
  --light-yellow: #f6dd9c;
  --yellow:#f2d055;
  --mint: #abcbc0;
  --skyblue: #b0dde0;
  --teal: #01b5bc;
}

.portfolio {
  display: flex;  
  position: relative;
  margin: 0 auto;
  width: 900px;
}

.content-area {
  background-color: rgba(255, 255, 255, 0.85);
  width: 650px;
  margin: 80px auto 80px 20% ;
  margin-left: 20%;
  //border: 2px red solid;
}

.timeline-controls {
  margin-bottom: 60px;
  background: rgba(229, 229, 229, 0.00)!important;
}

.timeline-main-wrapper {
  width: auto!important;
}